<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPortal</servlet-name>
        <servlet-class>MainPortal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alldata</servlet-name>
        <servlet-class>Alldata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home1</servlet-name>
        <servlet-class>Home1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMoney</servlet-name>
        <servlet-class>SendMoney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conform</servlet-name>
        <servlet-class>Conform</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClientLogin_new</servlet-name>
        <servlet-class>ClientLogin_new</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientLogin_new</servlet-name>
        <url-pattern>/ClientLogin_new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registration_new</servlet-name>
        <servlet-class>Registration_new</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration_new</servlet-name>
        <url-pattern>/Registration_new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>new_account_opening</servlet-name>
        <servlet-class>new_account_opening</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>new_account_opening</servlet-name>
        <url-pattern>/new_account_opening</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet>
            <servlet-name>MainPortal</servlet-name>
            <servlet-class>MainPortal</servlet-class>
        </servlet>
        <servlet-name>MainPortal</servlet-name>
        <url-pattern>/MainPortal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alldata</servlet-name>
        <url-pattern>/Alldata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home1</servlet-name>
        <url-pattern>/Home1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMoney</servlet-name>
        <url-pattern>/SendMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conform</servlet-name>
        <url-pattern>/Conform</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
